html,body{
margin: 0px;
padding: 0px;
height:100%;
background-color:#eeeeee;
font-family: 'Montserrat', sans-serif;
font-size: 16px;
text-align:center;
overflow: hidden;
}

p {
	font-size: 3em;
}

.box {
	background-color: #cccccc;
	padding: 4px;
	border-radius: 4px;
}

.container {
	display: flex;
	width: 100vw;
	align-items: center;
	justify-content: space-around;
}

div > p {
	font-size: 1em;
}

button {
	background-color: white;
	border: none;
	color: black;
	padding: 15px 32px;
	text-align: center;
	cursor: pointer;
	border-radius: 4px;
	margin: 4px 2px;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
}
